*.a
*.bundle
*.lo
*.o
*.so
*.xmlh
autom4te.cache
configure
.configure.*
config.log
config.status
/Makefile
docs/out
sql/Makefile
sql/reconnoiter_ddl_dump.sql
src/**/Makefile
!src/modules/example/Makefile
src/dhparam*.txt
src/*.dSYM
src/lua/src/lua
src/modules/*.dSYM
src/noit_version.h
src/noitd
src/noit.conf
src/test-noit.conf
src/stratcond
src/stratcon.conf
src/test-stratcon.conf
src/java/activemq-data
src/java/jezebel
src/java/lib/jezebel.jar
src/java/lib/reconnoiter.jar
src/java/classes
src/jlog/jlog_config.h
src/jlog/perl/Makefile.PL
src/jlog/jtest
src/jlog/jlogctl
src/man/*.8
src/man/*.h
src/Makefile.objs
src/module-online.h
src/noit_config.h
src/scripts/noit-config
src/udns/udns_codes.c
src/utils/dtrace_probes.h
src/LuaJIT/lib/vmdef.lua
src/LuaJIT/src/jit/vmdef.lua
src/LuaJIT/src/buildvm
src/LuaJIT/src/lj_bcdef.h
src/LuaJIT/src/lj_ffdef.h
src/LuaJIT/src/lj_folddef.h
src/LuaJIT/src/lj_libdef.h
src/LuaJIT/src/lj_recdef.h
src/LuaJIT/src/lj_vm.s
src/LuaJIT/src/luajit
src/LuaJIT/src/host/buildvm
src/LuaJIT/src/host/buildvm_arch.h
src/LuaJIT/src/host/minilua
src/noit_dtrace_probes.h
src/stratcon_dtrace_probes.h
test/Makefile
test/00.pem
test/01.pem
test/02.pem
test/03.pem
test/badclient.crt
test/badclient.csr
test/badclient.key
test/client.crt
test/client.csr
test/client.key
test/demoCA/
test/test-ca.crl
test/test-ca.crt
test/test-ca.csr
test/test-ca.key
test/test-noit.crt
test/test-noit.csr
test/test-noit.key
test/test-stratcon.crt
test/test-stratcon.csr
test/test-stratcon.key
test/t/logs
pkg/debian/changelog
