nav.navbar-fixed-top::after {
  font-size: 1.4em;
  font-weight: bold;
  content: "broker";
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: 88px;
}

@media (min-width: 768px) {
  .br-md-1 {
    border-right: 1px solid #ccc;
  }
}

.table td, .table th {
  padding: 0.3rem;
}
.check-details dl {
overflow: hidden;
}
.check-details dd,
.check-details dt {
  float:left;
  width:50%;
  padding:0;
  margin:0;
}
.check-details-main dt {
  width:20%;
  display: inline-block;
  clear: both;
}
.check-details-main dd {
  width:80%;
  display: inline-block;
}

#check-table tr.check td,
#eventer table td {
  font-size: 0.9em;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align:center;
}
table td:first-child {
  padding-left: 1em;
}
.destinations div.progress {
  margin-bottom: 4px;
}

tr.check-details.collapse.in {
  display: table-row;
}
.label-none {
  background-color: #fff;
}
div#stateview div.row div.card-block > div {
  margin-left: 1em;
}
div#stateview p {
  font-size: 0.9em;
}
ul.noit-proto > li {
  clear:both;
}
ul.noit-proto-cmd > li {
  list-style-type: none;
  display: inline;
  padding-left: 0.2em;
  float: left;
}
ul.noit-proto-cmd > li:after {
  content: ", ";
}
ul.noit-proto-cmd > li:last-child:after {
  content: ""
}
