RewriteEngine On
RewriteBase /reconnoiter/
RewriteRule ^json/ds/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ datapoint_browse_json.php?l1=$1&l2=$2&l3=$3&l4=$4 [PT,QSA]
RewriteRule ^json/ds/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ datapoint_browse_json.php?l1=$1&l2=$2&l3=$3&l4=$4&l5=$5 [PT,QSA]
RewriteRule ^json/templates/([^/]+)/([^/]+)/([^/]+)$ template_browse_json.php?l1=$1&l2=$2&l3=$3 [PT,QSA]
RewriteRule ^json/worksheet/info/([^/]*)$ worksheet_info.php?id=$1 [PT,QSA]
RewriteRule ^json/worksheet/store$ worksheet_store.php [PT,QSA]
RewriteRule ^json/worksheet/search$ worksheet_search_json.php [PT,QSA]
RewriteRule ^json/worksheet/deletegraph/([^/]+)/([^/]+)$ worksheet_graph_delete.php?wid=$1&gid=$2 [PT,QSA]
RewriteRule ^json/graph/info/([^/]*)$ graph_info.php?id=$1 [PT,QSA]
RewriteRule ^json/graph/store$ graph_store.php [PT,QSA]
RewriteRule ^json/graph/forget/([^/]*)$ graph_delete.php?id=$1 [PT,QSA]
RewriteRule ^json/graph/search$ graph_search_json.php [PT,QSA]
RewriteRule ^json/datapoint/search$ datapoint_search_json.php [PT,QSA]
RewriteRule ^graph/template/bw/large/([^/]+)$ bw_settings.php?id=$1 [PT,QSA]
RewriteRule ^graph/template/bw/small/([^/]+)$ bw_settings.php?id=$1&type=small [PT,QSA]
RewriteRule ^amcharts/graph/settings/([^/]+) graph_settings.php?id=$1 [PT,QSA]
RewriteRule ^flot/graph/settings/([^/]+) json_graph_flot.php?id=$1 [PT,QSA]