RewriteEngine On
RewriteBase /reconnoiter/
RewriteRule ^json/ds/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ ds_json.php?l1=$1&l2=$2&l3=$3&l4=$4 [PT,QSA]
RewriteRule ^json/ds/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ ds_json.php?l1=$1&l2=$2&l3=$3&l4=$4&l5=$5 [PT,QSA]
RewriteRule ^json/graph/info/([^/]+)$ graph_info.php?id=$1 [PT,QSA]
RewriteRule ^json/graph/store$ graph_store.php [PT,QSA]
RewriteRule ^amcharts/graph/settings/([^/]+) graph_settings.php?id=$1 [PT,QSA]

